.form-group select{
  width:100%;
  padding:14px 16px;

  border:2px solid #dfe8f1;
  border-radius:14px;

  font-size:16px;

  outline:none;

  background:white;

  box-sizing:border-box;
}

.priority-group{

  display:flex;
  gap:10px;

  margin-top:10px;
}

.priority-btn{

  flex:1;

  padding:12px;

  border:none;

  border-radius:12px;

  cursor:pointer;

  background:#edf2f7;

  font-weight:600;

  transition:.25s;
}

.priority-btn.active{

  background:#59b5f8;

  color:white;
}