.task-card {
  display: flex;
  align-items: center;
  gap: 16px;

  background: #ffffff;

  padding: 18px 20px;

  border-radius: 22px;

  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.05);

  margin-bottom: 16px;

  transition: .25s;
}

.task-card:hover {
  transform: translateY(-2px);
}

.completed-card {
  background: #F3FAFF;
}

.task-check {
  border: none;
  background: transparent;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.checked {
  font-size: 30px;
  color: #67C6FF;
}

.unchecked {
  font-size: 30px;
  color: #C8D4E2;
}

.task-title {
  flex: 1;

  font-size: 17px;
  font-weight: 600;

  color: #24324B;
}

.completed {
  text-decoration: line-through;
  color: #AAB7C7;
}

.task-title{
    flex:1;
}