.floating-button{

    position:fixed;

    left:50%;
    bottom:72px;

    transform:translateX(-50%);

    width:64px;
    height:64px;

    border:none;
    border-radius:50%;

    background:linear-gradient(
        135deg,
        #8ED7FF,
        #5CB9FF
    );

    color:white;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:34px;

    cursor:pointer;

    box-shadow:
        0 12px 30px rgba(92,185,255,.30),
        0 0 18px rgba(92,185,255,.18);

    transition:.25s;

    z-index:999;
}

.floating-button:hover{

    transform:
    translateX(-50%)
    scale(1.08);

}

.floating-button:active{

    transform:
    translateX(-50%)
    scale(.95);

}