.floating-button{
    position:fixed;

    bottom:90px;
    left:50%;

    transform:translateX(-50%);

    width:64px;
    height:64px;

    border:none;
    border-radius:50%;

    background:linear-gradient(
        135deg,
        #8ED7FF,
        #5CB9FF
    );

    color:white;

    font-size:34px;

    display:flex;
    justify-content:center;
    align-items:center;

    box-shadow:
    0 12px 30px rgba(92,185,255,.35);

    cursor:pointer;

    transition:.25s;
}

.floating-button:hover{
    transform:
    translateX(-50%)
    scale(1.08);
}

.floating-button:active{
    transform:
    translateX(-50%)
    scale(.92);
}