.header{
    padding:40px 25px 20px;
}

.header h3{
    color:#7B8A9A;
    font-size:18px;
    font-weight:600;
}

.header h1{
    margin-top:5px;
    font-size:34px;
    color:#2F3A4A;
    font-weight:800;
}

.header p{
    margin-top:8px;
    color:#8C99A8;
    font-size:15px;
}