.empty-state{

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;

    margin-top:120px;

}

.empty-state svg{

    font-size:70px;

    color:#67C6FF;

    margin-bottom:20px;

}

.empty-state h2{

    color:#24324B;

    margin-bottom:8px;

}

.empty-state p{

    color:#8C98A8;

    line-height:1.6;

    max-width:250px;

}