.bottom-nav {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);

  width: min(430px, 92%);
  height: 82px;

  background: #ffffff;

  border-radius: 28px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);

  z-index: 100;
}

.nav-item {
  border: none;
  background: none;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 4px;

  color: #95a2b5;

  cursor: pointer;

  transition: 0.25s;
}

.nav-item svg {
  font-size: 23px;
}

.nav-item span {
  font-size: 11px;
  font-weight: 600;
}

.nav-item:hover {
  transform: translateY(-3px);
}

.active {
  color: #67c6ff;
}

.add-button {
  position: absolute;
  top: -22px;

  width: 62px;
  height: 62px;

  border: none;
  border-radius: 50%;

  background: #67c6ff;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 30px;

  cursor: pointer;

  box-shadow: 0 12px 25px rgba(103, 198, 255, 0.35);

  transition: 0.25s;
}

.add-button:hover {
  transform: translateY(-3px) scale(1.05);
}

.add-button:active {
  transform: scale(0.95);
}