.modal-overlay{
    position: fixed;

    inset: 0;

    background: rgba(0,0,0,.35);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 999;
}

.event-modal{

    width:90%;
    max-width:360px;

    background:white;

    border-radius:24px;

    padding:24px;

    animation:popup .25s ease;

}

.event-modal h2{

    color:#24324B;

    margin-bottom:10px;

}

.selected-date{

    color:#67C6FF;

    font-weight:600;

    margin-bottom:20px;

}

.event-modal input{

    width:100%;

    padding:14px 16px;

    border:none;

    outline:none;

    border-radius:14px;

    background:#F5F8FC;

    font-size:15px;

    margin-bottom:24px;

    box-sizing:border-box;

}

.modal-actions{

    display:flex;

    justify-content:flex-end;

    gap:12px;

}

.cancel-btn{

    border:none;

    background:#EEF3F8;

    color:#607080;

    padding:12px 18px;

    border-radius:12px;

    cursor:pointer;

}

.save-btn{

    border:none;

    background:#67C6FF;

    color:white;

    padding:12px 18px;

    border-radius:12px;

    cursor:pointer;

}

@keyframes popup{

    from{

        transform:scale(.9);

        opacity:0;

    }

    to{

        transform:scale(1);

        opacity:1;

    }

}