* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  background: #F8FBFF;
  color: #2F3A4A;
}

button,
input {
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}