@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Nunito',sans-serif;
  background:#F5F9FF;
  color:#2F3A4A;
}

#root{
  max-width:430px;
  margin:auto;
  min-height:100vh;
  background:white;
  position:relative;
  overflow:hidden;
}